* {
	font-family: 'Roboto', sans-serif;
}

.restau__bloc-titre__titre, .footer__logo {
	font-family: 'Shrikhand', cursive;
}

body {
	margin: 0;
}

.marges-page {
	padding: 0 5% 20px 5%;
}

$color1: #9356DC;
$color2: #FF79DA;
$color3: #99E2D0;
$grey-light: #F6F6F6;
$grey-middle: #EAEAEA;
$grey-dark: #D2D2D2;
$color-ajouts: #00E2D0;

@mixin shadow ($colour: $grey-middle) {
	box-shadow: 5px 5px 10px ($colour);
}


.fond-gris {
	background-color: $grey-light;
}

.center {
	text-align: center;
}

.texte {
	font-size: 1rem;
	font-weight: 500;
	margin: 0;
}

.texte-descriptif {
	font-weight: 100;
	margin: 0;
}

.petit-titre {
	font-size: 1.1rem;
	font-weight: bold;
	margin: 0;
	padding: 0.8em 0 0.2em 0;
}

a {
	text-decoration: none;
	color: black;
}

ul {
	list-style-type: none;
}



.header__logo {
	display: flex;
	justify-content: center;
    margin: 1em;
	& img {
		width: 200px;
	}
}

.header-pages {
	display: flex;
	align-items: center;
	padding: 0 5%;
	font-size: 1.2em;
	&__fleche {
		margin : 15px  40px 15px 0;
	}
}

.btn {
	border: none;
	background: linear-gradient($color2, $color1);
	color: white;
	width: 200px;
	height: 50px;
	border-radius: 30px;
	margin-top: 1em;
	margin-bottom: 3em;
	cursor: pointer;
	@include shadow;
	opacity: 1;
	transition: all 1s;
	&:hover {
		@include shadow($grey-dark);
		opacity: 0.6;
	}
}
.accueil__h1 {
	font-weight: bold;
	margin: 0 1em;
    padding: 2em 0 1em 0;
	&--reserver {
		margin: 0 1em 0 1em;
    	padding-top: 1em;
    }
}

.localisation {
	display: flex;
	justify-content: center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: $grey-middle;
	border-top: 1px solid $grey-dark;
	&__map-marker {
		margin-right: 1em;
		margin-left: 2em;
	}
	&__input {
		border: none;
		background: transparent;
		cursor: pointer;
	}
}


.fonctionnement-bloc {
	display: flex;
	align-items: center; 
	margin-bottom: 1em;
	height: 4em;
	background-color: $grey-light;
	transition: background-color 1s;
	border-radius: 20px;
	position: relative;
	padding: 0 20px;
	@include shadow;
	&__chiffre {
		height:25px;
		width: 25px;
		background-color: $color1;
		border-radius: 100%;
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		left: -10px;	
	}
	&__icone {
		width: 1.2em;
		color: $color1;
		margin: 0 20px;
	}
	.texte {

		height: 1.2rem;
	}
	&:hover {
		background-color: lighten($color1, 30%);		
	}
}

.coeur {
	position: relative;
	z-index: 1;
	cursor: pointer;
	& .coeur1 {
		z-index: 3;
		width: 25px;
		position: relative;
		bottom: 1px;
		transition: opacity 1500ms;
	}
	& .coeur2 {
		z-index: 2;
		width: 25px;
		position: absolute;
		right: 0;
		opacity: 0;
		background-image: white;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		transition: all 1500ms;
	}
	&:hover {
		& > .coeur1 {
			opacity: 0;
		}
		& > .coeur2 {
			opacity: 1;
			background-image: linear-gradient($color2, $color1);
		}
	}
}

.section-restau {
	margin-bottom: 0;
	padding-bottom: 3em;
}

.carte-restau {
	border-radius: 15px;
	background-color: white;
	margin-bottom: 2em;
	height: 300px;
	@include shadow;
	&__photo {
		max-width: 100%;
		height: 75%;
		position: relative;
		& img {
			height: 100%;
			width: 100%;
			border-radius: 15px 15px 0 0;
			object-fit: cover;
		}
		&__nouveau {
		background-color: $color-ajouts;
		color: darken($color-ajouts, 20%);
   		padding: 0.5em 1em;
   		display: inline-block;
    	position: absolute;
    	right: 10px;
    	top: 10px;
		}
	
	}
	&__textes {
		display: flex;
    	justify-content: space-between;
    	margin: 0 1em;
    	.coeur {
    		font-size: 1.5em;
    		margin: 0.8em 0.3em 0 0;
    	}
	}
}

.restau {
	position: relative;
	&__photo {
		height: 300px;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__bloc-titre {
		border-radius: 30px 30px 0 0;
    	background-color: #F6F6F6;
    	width: 100%;
    	display: flex;
    	justify-content: space-between;
    	align-items: center;
   		position: absolute;
   		bottom: -20px;
		&__titre {
			font-size: 1.7em;
			margin-left: 5%;
		}
		& .coeur {
			font-size: 1.5em;
			margin-right: 5%;
			
		}
		
	}
}

.menu {
	background-color: $grey-light;
	padding-top: 20px;
	&__titre {
		font-size: 1.2em;
		font-weight: 100;
		margin: 0;
		padding: 20px 0 5px 0;
	}
	&__ligne {
		width: 40px;
   		border: 1px $color-ajouts solid;
	}
	&__plat {
		background-color: white;
    	border-radius: 20px;
    	padding: 0 15px 15px 15px;
    	height: 60px;
    	margin: 15px 0;
    	display: flex;
    	justify-content: space-between;
    	align-items: center;
    	@include shadow;
		cursor: pointer;
    }
    &__prix {
    	margin: 45px 5px 0 0;	
	}
}



.footer {
	background-color: black;
	padding: 2em;
	& a {
		color: white;
	}
	&__logo {
	color: white;
	margin: 0;
	}
	&__nav ul {
		padding-left: 0;
		line-height: 1.5;
	}
	.fa-utensils, .fa-hands-helping {
    width: 30px;
	}
}

/* MEDIA QUERIES */

@media screen and (min-width: 1024px) {  /* 1024px = ipad pro - Les plus petites tablettes gardent l'affichage mobile */
	
	.header-pages {
		font-size: 2.5em;
		justify-content: center;
		position: relative; 
		&__fleche {
			position: absolute;
			left:5%;
			bottom: 20px;
		}
	}
	.header__logo img {
		width: 250px;
	}
	.btn {
		margin-top: 3em;
	}
	.fonctionnement {
		display: flex;
		justify-content: space-between;
	}
	.section-restau__restaurants {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
	.carte-restau {
		width: 400px;
		margin: 20px;
	}
	.footer__logo {
		font-size: 2em;
	}
}

@media screen and (min-width: 1400px) { /* Pour que le design reste propre */

	.section-fonctionnement {
		display: flex;
		align-items: baseline;
	}
	.fonctionnement {
		width: 80%;
		margin-left: 20px;
		justify-content: inherit;
	}
	.fonctionnement-bloc {
		margin-left: 50px;
	}
	.carte-menu {
		display:flex;
		justify-content: space-evenly;
		padding-top: 50px;
		padding-bottom: 30px;
	}
	.menu {
		width: 30%;
		&__ligne {
			margin-bottom: 50px;
		}
	}
	.restau__bloc-titre {
		bottom: -70px;
		&__titre {
			font-size: 2em;
			padding-bottom: 30px;
			margin-top: 10px
		}
		& .coeur {
			font-size: 2em;
		}
	}

}
